AWS_REGION=us-east-1
USER_POOL_ID=
APP_CLIENT_ID=
WEB_APP_CLIENT_ID=
APP_CLIENT_SECRET=
COGNITO_DOMAIN=
DATABASE_URL=
FRONTEND_URLS=http://localhost:5173
PUBLIC_FRONTEND_URL=http://localhost:5173
S3_BUCKET=
SES_FROM_EMAIL=
SECRET_KEY=
DEFAULT_USER_GROUP=RegularUser
